html, body {
    height: 100%;
}

body {
    /* Nav bar fixed top */
    min-height: 3000px;
    padding-top: 70px;
}

body > .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

/*****************
 * Image preview *
 *****************/

div.img-preview > img.preview {
    margin-bottom: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    /*
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    */
}

div.img-preview {
    display:none;
}
input#img-upload {
    display: none;
}


/***********
 * Sliders *
 ***********/

div.sliders div.symbol {
    padding-bottom: 15px;
}
div.sliders div.symbol > span.symbol {
    margin-left: -10px;
}
div.slider.slider-horizontal {
}

div.img-preview div.sliders {
    height: 100%;
}

/***********
 * Nav bar *
 ***********/

.navbar-right {
    float: right!important;
    margin-right: -15px;
}
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-header {
    float: left;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 0;
}
.navbar-nav > li > a > i.fa {
    vertical-align: middle;
}

